*.lock
*.log
# gradle
*ips.txt
.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/

.classpath
.project

# macos

*.DS_Store

# fabric


# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

#nekky

docs/node_modules/
server/run/
.vercel
.env*.local
.env*
